In [1]:
import numpy as np
import pandas as pd

In [119]:
movies = pd.read_csv('/content/movies.csv')
ipl = pd.read_csv('/content/ipl-matches.csv')

## Creating DataFrame and dataframe basic operations

In [35]:
# using lists
student_data = [
    [100,80,10,10],
    [90,70,7,70],
    [120,100,14,100],
    [80,50,2,7]
]

pd.DataFrame(student_data,columns=['iq','marks','credits','package']).duplicated()

0    False
1    False
2    False
3    False
dtype: bool

In [27]:
student_dict = {
    'name':['A','B','C','D','E'],
    'iq':[100,99,50,80,60],
    'marks':[80,70,80,90,100],
    'package':[10,7,8,6,8]
}
students = pd.DataFrame(student_dict)
students.set_index('name',inplace=True)

In [ ]:
# SOME DATAFRAME FUNCTIONS OR ATTRIBUTES



'''
MUST APPLY METHODS ON A DATAFRAME OR DATASET

ipl.shape

movies.dtypes

movies.index
ipl.index

ipl.columns

movies.head(2)

ipl.tail()

ipl.sample(5)

movies.info()

ipl.info()
'''
#ipl.describe()
#movies.describe()

#ipl.isnull()

#movies.duplicated().sum()
#students.duplicated().sum()

#students.rename(columns={'marks':'percent','package':'lpa'},inplace=True)
#students

#students.columns

Index(['iq', 'percent', 'lpa'], dtype='object')

In [ ]:
# SELECTING COLUMNS FROM DATAFRAME

#type(movies['title_x'])

#movies[['original_title','genres','actors']]

ipl[['Team1','Team2','WinningTeam']]

In [49]:
# SELECTING ROWS and COLUMNS FROM A DATAFRAME

'''
FETCHING ROWS

movies.iloc[0]  # it gives series

movies.iloc[0:5]   # gives dataframe

movies.iloc[0:10:2]  # ek ke baad ek print karega 1 row chhod ke

movies.iloc[[0,2,4,5]]  # fancy indexing

students.loc['A']  # gives A's detail info

students.loc['A':'E']  # gives A to E dataframe


Their are two types by which we can fetch ROWS from the DATAFRAME
iloc -> works on index position (which is always available)
loc -> works on index lable (which is not always available)
'''


# FETCHING ROWS AND COLUMN

movies.iloc[0:5,0:3] # here we have to provide the index position

movies.loc[0:2,'title_x':'poster_path'] # in loc we have to provide the name of the index

'whenever we create a dataframe internally a column is create from 0 automatically by pandas'

'whenever we create a dataframe internally a column is create from 0 automatically by pandas'

## **Filtering a dataframe**

In [ ]:
# season of match and name of winning teams
finals = ipl['MatchNumber'] == 'Final'
newdf = ipl[finals]
newdf[['Season','WinningTeam']]
#OR
ipl[ipl['MatchNumber'] == 'Final'][['Season','WinningTeam']]


# How many super over held
ipl[ipl['SuperOver']=='Y'].shape[0]  # here the boolean indexing is occured ipl['SuperOver']=='Y'


#how many matches has csk won in kolkata
ipl[(ipl['City'] == 'Kolkata') & (ipl['WinningTeam'] == 'Chennai Super Kings')].shape[0] # here (ipl['City'] == 'Kolkata')  and (ipl['WinningTeam'] == 'Chennai Super Kings') is boolean indexing which return boolen dtype thats whe we used '&' here


# toss winner is match winner in percetage
ipl[ipl['TossWinner'] == ipl['WinningTeam']].shape[0]/ipl.shape[0]*100


# Movies with rating higher than 8 and vote count is >10000
movies[(movies['imdb_rating'] > 8) & (movies['imdb_votes'] > 10000)].shape[0]


# Action movies with rating higher than 7.5
actgenre = movies['genres'].str.split('|').apply(lambda x:'Action' in x) # here the .str is for converting series to string dtype so that we can apply .split() to it
#OR
actgenre = movies['genres'].str.contains('Action')
rating = movies['imdb_rating'] > 7.5
movies[actgenre & rating]

## **Adding new column in a dataframe**

In [ ]:
#creating a new column name india in the last where all rows assigned a new value india
movies['Country'] = 'India'
movies

# creating a new coloumn with existing column for lead actor
movies.dropna(inplace=True)
movies['lead actor'] = movies['actors'].str.split().apply(lambda x:x[0])
movies[['title_x','lead actor']]

In [117]:
ipl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950 entries, 0 to 949
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               950 non-null    int64
 1   City             899 non-null    object
 2   Date             950 non-null    object
 3   Season           950 non-null    object
 4   MatchNumber      950 non-null    object
 5   Team1            950 non-null    object
 6   Team2            950 non-null    object
 7   Venue            950 non-null    object
 8   TossWinner       950 non-null    object
 9   TossDecision     950 non-null    object
 10  SuperOver        946 non-null    object
 11  WinningTeam      946 non-null    object
 12  WonBy            950 non-null    object
 13  Margin           932 non-null    float64
 14  method           19 non-null     object
 15  Player_of_Match  946 non-null    object
 16  Team1Players     950 non-null    object
 17  Team2Players     950 non-null    object
 18  Umpire1          950 non-null    object
 19  Umpire2          950 non-null    object
dtypes: float64(1), int64(1), object(18)
memory usage: 148.6+ KB

In [120]:
# astype -> it changes the datatype of the given column
#movies.info()
ipl['ID'] = ipl['ID'].astype('int32')
ipl['ID'].size

ipl['Season'] = ipl['Season'].astype('category')
ipl['Team1'] = ipl['Team1'].astype('category')
ipl['Team2'] = ipl['Team2'].astype('category')
ipl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950 entries, 0 to 949
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               950 non-null    int32
 1   City             899 non-null    object
 2   Date             950 non-null    object
 3   Season           950 non-null    category
 4   MatchNumber      950 non-null    object
 5   Team1            950 non-null    category
 6   Team2            950 non-null    category
 7   Venue            950 non-null    object
 8   TossWinner       950 non-null    object
 9   TossDecision     950 non-null    object
 10  SuperOver        946 non-null    object
 11  WinningTeam      946 non-null    object
 12  WonBy            950 non-null    object
 13  Margin           932 non-null    float64
 14  method           19 non-null     object
 15  Player_of_Match  946 non-null    object
 16  Team1Players     950 non-null    object
 17  Team2Players     950 non-null    object
 18  Umpire1          950 non-null    object
 19  Umpire2          950 non-null    object
dtypes: category(3), float64(1), int32(1), object(15)
memory usage: 127.4+ KB