In [ ]:
import pandas as pd
import numpy as np

In [ ]:
courses = pd.read_csv('/content/courses.csv')
students = pd.read_csv('/content/students.csv')
nov = pd.read_csv('/content/reg-month1.csv')
dec = pd.read_csv('/content/reg-month2.csv')

matches = pd.read_csv('/content/matches.csv')
delivery = pd.read_csv('/content/deliveries (1).csv')

In [ ]:
delivery

##CONCAT METHOD

In [ ]:
# pd.concat     add two or more dataframe and makes it one dataframe joins ek ke baad ek manner me
# df.concat
# ignore_index
# df.append
# mullitindex -> fetch using iloc
# concat dataframes horizontally

registration = pd.concat([nov,dec],ignore_index=True)   #it added the second dataframe with the first in a continous manner

multi = pd.concat([nov,dec],keys=['nov','dec'])   # it is a multi-index dataframe
multi.loc['dec',0]   # accesing the specific dataframe


pd.concat([nov,dec],axis = 1)   # the dataframe is concatenated row wise (ek dataframe ke side me dusra dataframe axis=1 se)

##JOIN METHOD

In [ ]:
#join -> it joins the dataframe on the basis of a single common column
# there are four types of join -> left, right, outer, inner


# inner join
# sirf common students aayenge jo dono dataframe me common hai
#it gives the value which are common in both of the dataframes not giving any extra values
students.merge(registration,how='inner',on='student_id')  # getting the names of all the students

In [ ]:
#left join -> combines not only common col's value but also those values which are present in the left col
#ps: here the left col is courses
courses.merge(registration,how='left',on='course_id')

In [ ]:
# right join
'''In the right join the data values of the right side dataframe is merging along with the left dataframe even it is null or empty value'''


# making a temporary dataframe with no courses and concatenate it with students dataframe
'''
temp_df = pd.DataFrame({
    'student_id':[26,27,28],
    'name':['Nitish','Ankit','Rahul'],
    'partner':[28,26,17]
})

students = pd.concat([students,temp_df],ignore_index=True)
'''
students.merge(registration,how='right',on='student_id')
#students.merge(registration,how='left',on='student_id')

In [ ]:
# outer join
#it shows all the data values of both the dataframes even it is null or empty

students.merge(registration,how='outer',on='student_id').tail(10)

##PRACTICE QUESTINOS

In [ ]:
# ques 1 -> Total revenue generated by the company
'''join registration wala table with course table on the basis of course_id wala col and do inner join'''

registration.merge(courses,how='inner',on='course_id')['price'].sum()

In [ ]:
# ques 2 -> find month by month revenue
'''concat nov and dec months and remove its seperation index by reset_index() then store it in a variable 'temp'and after, merge temp with courses with course_id and make a group on level_0 wich has months nov or dec and then sum it '''
temp = pd.concat([nov,dec],keys=['nov','dec']).reset_index()
temp.merge(courses,on='course_id').groupby('level_0')['price'].sum()

In [ ]:
# ques 3 -> Print the registration table with
# columns = name,course,price
'''here we have join three tables to print this columns
to join three table we do two merges for four table we do 3 merges '''

registration.merge(students,on='student_id').merge(courses,on='course_id')[['name','course_name','price']]

In [ ]:
# ques 4 -> Plot bar chart for revenue/course
'''we have to make a bar of kitne coure ne kitna earn kiya'''

registration.merge(courses,on='course_id').groupby('course_name')['price'].sum().plot(kind='bar')

In [ ]:
# ques 5 -> find students who enrolled in both the months
'''enrolled student_id of both months and intersection operation in both'''
common_student_id = np.intersect1d(nov['student_id'],dec['student_id'])
common_student_id

students[students['student_id'].isin(common_student_id)]

In [ ]:
# ques 6 -> find course that got no enrollments
'''we have to find the course where no students enrolled, we have to find the courses which is in courses but not in registration'''
course_id_list = np.setdiff1d(courses['course_id'],registration['course_id'])
courses[courses['course_id'].isin(course_id_list)]

In [ ]:
# ques 7 -> find students who did not enroll into any courses

'''those students who isin students table but not in registratino table'''
stu_id_list = np.setdiff1d(students['student_id'],registration['student_id'])
(students[students['student_id'].isin(stu_id_list)].shape[0]/28)*100

In [ ]:
students

In [ ]:
# ques 8 -> print the student name and its partner name along side
'''here we use self join where we join a table with itself'''

students.merge(students,how='inner',left_on='partner',right_on='student_id')[['name_y','name_x']]

In [ ]:
# 9. find top 3 students who did most number enrollments
regs.merge(students,on='student_id').groupby(['student_id','name'])['name'].count().sort_values(ascending=False).head(3)

In [ ]:
# 10. find top 3 students who spent most amount of money on courses
regs.merge(students,on='student_id').merge(courses,on='course_id').groupby(['student_id','name'])['price'].sum().sort_values(ascending=False).head(3)

In [ ]:
# Alternate syntax for merge
# students.merge(regs)

pd.merge(students,regs,how='inner',on='student_id')

In [ ]:
# IPL Problems

# find top 3 studiums with highest sixes/match ratio
# find orange cap holder of all the seasons

In [ ]:
matches

In [ ]:
delivery

In [ ]:
temp_df = delivery.merge(matches,left_on='match_id',right_on='id')

In [ ]:
six_df = temp_df[temp_df['batsman_runs'] == 6]

In [ ]:
# stadium -> sixes
num_sixes = six_df.groupby('venue')['venue'].count()

In [ ]:
num_matches = matches['venue'].value_counts()

In [ ]:
(num_sixes/num_matches).sort_values(ascending=False).head(10)

In [ ]:
matches

In [ ]:
temp_df.groupby(['season','batsman'])['batsman_runs'].sum().reset_index().sort_values('batsman_runs',ascending=False).drop_duplicates(subset=['season'],keep='first').sort_values('season')

In [ ]:
temp_df.groupby(['season','batsman'])['batsman_runs'].sum().reset_index().sort_values('batsman_runs',ascending=False)