In [1]:
import pandas as pd
import numpy as np

In [2]:
movies = pd.read_csv('/content/imdb-top-1000.csv')

In [29]:
movies.head()

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0

In [8]:
genres = movies.groupby('Genre')

In [ ]:
# appling some built-in aggregate functions
genres.max()

In [22]:
# find the top 3 gneres by total earning

movies.groupby('Genre').sum()['Gross'].sort_values(ascending=False).head(3)
movies.groupby('Genre')['Gross'].sum().sort_values(ascending=False).head(3)

Genre
Drama     3.540997e+10
Action    3.263226e+10
Comedy    1.566387e+10
Name: Gross, dtype: float64

In [24]:
#find the genre which has the highest avg imdb raing


movies.groupby('Genre')['IMDB_Rating'].mean().sort_values(ascending=False).head(1)

Genre
Western    8.35
Name: IMDB_Rating, dtype: float64

In [28]:
# find director with the most popularity

movies.groupby('Director')['No_of_Votes'].sum().sort_values(ascending=False).head(1)

Director
Christopher Nolan    11578345
Name: No_of_Votes, dtype: int64

In [ ]:
# movies by Christophen Nolan

In [31]:
#highest rated movie of each genre
movies.groupby('Genre')[['IMDB_Rating','Series_Title',]].max()

           IMDB_Rating                         Series_Title
Genre
Action             9.0                              Yôjinbô
Adventure          8.6                           Zombieland
Animation          8.6          Ôkami kodomo no Ame to Yuki
Biography          8.9                              Zerkalo
Comedy             8.6             Zindagi Na Milegi Dobara
Crime              9.2                    À bout de souffle
Drama              9.3                            Zwartboek
Family             7.8  Willy Wonka & the Chocolate Factory
Fantasy            8.1                            Nosferatu
Film-Noir          8.1                        The Third Man
Horror             8.5                            The Thing
Mystery            8.4                              Vertigo
Thriller           7.8                      Wait Until Dark
Western            8.8               The Outlaw Josey Wales

In [ ]:
# number of movies done by each actor

movies['Star1'].value_counts()
#or
movies.groupby('Star1')['Series_Title'].count().sort_values(ascending=False)

In [59]:
from collections.abc import ItemsView
# gorupby() Attributes and Methods
'''
find total number of groups - > len
find items in each group - > np.size
first()/last() -> nth item
get_group -> vs filtering
groups
describe
sample
nunique
'''


len(movies.groupby('Genre'))
#OR
movies.groupby('Genre').nunique()

movies.groupby('Genre').size()
#OR
movies['Genre'].value_counts()

gnr = movies.groupby('Genre')


gnr.first()  # gives first movie of each genre
gnr.last()   # last movie of each genre
gnr.nth(2)   # nth here n is 2 so 2nd movie of each genre
gnr.get_group('Horror')['Series_Title'] # fetch all values of a particular given group
gnr.groups  # it gives a dictionary where all genre is key and all movie's index number is value

gnr.describe() # gives count,mean,std_dev,min,max,25%,50%,75% of the groups

gnr.sample(2,replace=True)

gnr.nunique() # unique value

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,172,61,78,15,123,121,172,172,50
Adventure,72,49,58,10,59,59,72,72,33
Animation,82,35,41,11,51,77,82,82,29
Biography,88,44,56,13,76,72,88,88,40
Comedy,155,72,70,11,113,133,155,155,44
Crime,106,56,65,14,86,85,107,107,39
Drama,289,83,95,14,211,250,288,287,52
Family,2,2,2,1,2,2,2,2,2
Fantasy,2,2,2,2,2,2,2,2,0
Film-Noir,3,3,3,3,3,3,3,3,3
Horror,11,11,10,8,10,11,11,11,9
Mystery,12,11,10,8,10,11,12,12,7
Thriller,1,1,1,1,1,1,1,1,1
Western,4,4,4,4,2,2,4,4,4

In [ ]:
genres = movies.groupby('Genre')

In [ ]:
# Applying builtin aggregation fuctions on groupby objects
genres.std()

In [ ]:
# find the top 3 genres by total earning
movies.groupby('Genre').sum()['Gross'].sort_values(ascending=False).head(3)

In [ ]:
movies.groupby('Genre')['Gross'].sum().sort_values(ascending=False).head(3)

In [ ]:
# find the genre with highest avg IMDB rating
movies.groupby('Genre')['IMDB_Rating'].mean().sort_values(ascending=False).head(1)

In [ ]:
# find director with most popularity
movies.groupby('Director')['No_of_Votes'].sum().sort_values(ascending=False).head(1)

In [ ]:
# find the highest rated movie of each genre
# movies.groupby('Genre')['IMDB_Rating'].max()

In [ ]:
# find number of movies done by each actor
# movies['Star1'].value_counts()

movies.groupby('Star1')['Series_Title'].count().sort_values(ascending=False)

In [ ]:
# GroupBy Attributes and Methods
# find total number of groups -> len
# find items in each group -> size
# first()/last() -> nth item
# get_group -> vs filtering
# groups
# describe
# sample
# nunique

In [ ]:
len(movies.groupby('Genre'))

In [ ]:
movies['Genre'].nunique()

In [ ]:
movies.groupby('Genre').size()

In [ ]:
genres = movies.groupby('Genre')
# genres.first()
# genres.last()
genres.nth(6)

In [ ]:
movies['Genre'].value_counts()

In [ ]:
genres.get_group('Fantasy')

movies[movies['Genre'] == 'Fantasy']

In [ ]:
genres.groups

In [ ]:
genres.describe()

In [ ]:
genres.sample(2,replace=True)

In [ ]:
genres.nunique()

In [ ]:
# agg method
# passing dict
genres.agg(
    {
        'Runtime':'mean',
        'IMDB_Rating':'mean',
        'No_of_Votes':'sum',
        'Gross':'sum',
        'Metascore':'min'
    }
)

In [ ]:
# passing list
genres.agg(['min','max','mean','sum'])

In [ ]:
# Adding both the syntax
genres.agg(
    {
        'Runtime':['min','mean'],
        'IMDB_Rating':'mean',
        'No_of_Votes':['sum','max'],
        'Gross':'sum',
        'Metascore':'min'
    }
)

In [ ]:
# looping on groups
df = pd.DataFrame(columns=movies.columns)
for group,data in genres:
  df = df.append(data[data['IMDB_Rating'] == data['IMDB_Rating'].max()])

df

In [ ]:
# split (apply) combine
# apply -> builtin function

genres.apply(min)

In [ ]:
# find number of movies starting with A for each group

def foo(group):
  return group['Series_Title'].str.startswith('A').sum()

In [ ]:
genres.apply(foo)

In [ ]:
# find ranking of each movie in the group according to IMDB score

def rank_movie(group):
  group['genre_rank'] = group['IMDB_Rating'].rank(ascending=False)
  return group

In [ ]:
genres.apply(rank_movie)

In [ ]:
# find normalized IMDB rating group wise

def normal(group):
  group['norm_rating'] = (group['IMDB_Rating'] - group['IMDB_Rating'].min())/(group['IMDB_Rating'].max() - group['IMDB_Rating'].min())
  return group

genres.apply(normal)

In [ ]:
# groupby on multiple cols
duo = movies.groupby(['Director','Star1'])
duo
# size
duo.size()
# get_group
duo.get_group(('Aamir Khan','Amole Gupte'))

In [ ]:
# find the most earning actor->director combo
duo['Gross'].sum().sort_values(ascending=False).head(1)

In [ ]:
# find the best(in-terms of metascore(avg)) actor->genre combo
movies.groupby(['Star1','Genre'])['Metascore'].mean().reset_index().sort_values('Metascore',ascending=False).head(1)

In [ ]:
# agg on multiple groupby
duo.agg(['min','max','mean'])

### Excercise

In [ ]:
ipl = pd.read_csv('/content/deliveries.csv')
ipl.head()

In [ ]:
ipl.shape

In [ ]:
# find the top 10 batsman in terms of runs
ipl.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).head(10)

In [ ]:
# find the batsman with max no of sixes
six = ipl[ipl['batsman_runs'] == 6]

six.groupby('batsman')['batsman'].count().sort_values(ascending=False).head(1).index[0]

In [ ]:
# find batsman with most number of 4's and 6's in last 5 overs
temp_df = ipl[ipl['over'] > 15]
temp_df = temp_df[(temp_df['batsman_runs'] == 4) | (temp_df['batsman_runs'] == 6)]
temp_df.groupby('batsman')['batsman'].count().sort_values(ascending=False).head(1).index[0]

In [ ]:
# find V Kohli's record against all teams
temp_df = ipl[ipl['batsman'] == 'V Kohli']

temp_df.groupby('bowling_team')['batsman_runs'].sum().reset_index()

In [ ]:
# Create a function that can return the highest score of any batsman
temp_df = ipl[ipl['batsman'] == 'V Kohli']
temp_df.groupby('match_id')['batsman_runs'].sum().sort_values(ascending=False).head(1).values[0]

In [ ]:
def highest(batsman):
  temp_df = ipl[ipl['batsman'] == batsman]
  return temp_df.groupby('match_id')['batsman_runs'].sum().sort_values(ascending=False).head(1).values[0]

In [ ]:
highest('DA Warner')