### More Important Functions

In [7]:
import numpy as np
import pandas as pd

In [9]:
ipl = pd.read_csv('ipl-matches.csv')
diabetes = pd.read_csv('diabetes.csv')
movies = pd.read_csv('movies.csv')
iplbatman = pd.read_csv('batsman_runs_ipl.csv')

In [ ]:
# value_counts
# sort_values
# rank
# sort index
# set index
# rename index -> rename
# reset index
# unique & nunique
# isnull/notnull/hasnans
# dropna
# fillna
# drop_duplicates
# drop
# applyugew9 tdiwasukj,arcv
# isin
# corr
# nlargest -> nsmallest
# insert
# copy

In [ ]:
#value_counts()


# find which player has won most POTM

ipl[~ipl['MatchNumber'].str.isdigit()][['Player_of_Match']].value_counts()  # it gives the matches which are special(qualifier,semifinal,final) matches and its potm


# Toss decision
ipl['TossDecision'].value_counts().plot(kind='pie')

#how many matches each team has played
((ipl['Team1'].value_counts()) + (ipl['Team2'].value_counts())).sort_values(ascending=False) # this thing is possible if the values/datatype of both series mathces

In [ ]:
# sort_values()

movies.sort_values('title_x',ascending=False)
'''
 if we apply sort_values() to a null values containing dataframe
then the missing/null values goes in last
syntax :- students.sort_values('name',na_position='first',ascending=False)
'''

#arrenging movies by year and by title in ascending order
movies.sort_values(['year_of_release','title_x'],ascending=[True,False])

In [ ]:
#rank()  it is applyable only upto series not on dataframe

iplbatman['batting_rank']=iplbatman['batsman_run'].rank(ascending=False)
iplbatman.sort_values('batting_rank')

In [ ]:
# sort_index() it is applyable on both series and dataframe
'''
it is the function which is used to sort the series and dataframe on the basis on index by their name or value ascending or descending
'''

In [ ]:
#set_index(dataframe)

#iplbatman.set_index('batter',inplace=True)
iplbatman

In [ ]:
#reset_index()


#iplbatman.reset_index('batter')
iplbatman

# replace existing index without loosing a column
iplbatman.set_index('batting_rank')  #by this we loose a column
iplbatman.reset_index().set_index('batting_rank')  #by this we don't loose a column

#if we apply this to a series it will give dataframe as output

In [ ]:
#rename(dataframe)

#movies.set_index('title_x',inplace=True)
#movies
movies.rename(columns={'imdb_id':'imdb','poster_path':'link'},inplace=True)
movies.rename(index={'Uri: The Surgical Strike':'URI'})

In [28]:
# unique(series)

temp = pd.Series([1,1,3,3,4,5,3,5,5,6,7,np.nan,np.nan])
temp.unique()

ipl['Season'].unique()  # it gives unique values not include repeating values
ipl['Season'].nunique() # it gives count of unique values and not include missing values in it

15

In [ ]:
# isnull(Series + DataFrame)
# notnull(Series + dataframe)
# hasnans   (only on series)



# on series
movies['link'][movies['link'].isnull()].shape  # it gives all missing values
movies['link'][movies['link'].notnull()].shape  # it gives all not missing values
movies['link'].hasnans  # it gives true if there is any missing values else false


movies.isnull()
movies.notnull()

In [ ]:
#dropna()  on both

movies['link'].dropna() # remove all rows who have missing values
movies.dropna()  # remove all rows who have missing values

movies.dropna(how='any')  # remove all rows who have missing values
movies.dropna(how='all')  # remove all rows who have missing values in all column

In [ ]:
# fillna() for both series and dataframe
movies.fillna(method='ffill')  #ffill is forward fill jo pehle tha value vo hi aayega

In [ ]:
#drop_duplicates() on both
#it to remove duplicate values from series
#it removes duplicate rows from dataframe

In [67]:
#find the last match played by virat kohli in delhi

#ipl['all_players'] = ipl['Team1Players'] + ipl['Team2Players']  #making another column which have all the player from team1 and team2 for each row
def did_kohli_play(players_list):
  return  'V Kohli' in players_list

#ipl['Kohli Plays'] = ipl['all_players'].apply(did_kohli_play)
ipl[(ipl['City'] == 'Delhi') & (ipl['Kohli Plays'] == True)].head(1)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2,all_players,Kohli Plays
208,1178421,Delhi,2019-04-28,2019,46,Delhi Capitals,Royal Challengers Bangalore,Arun Jaitley Stadium,Delhi Capitals,bat,...,Runs,16.0,NaN,S Dhawan,"['PP Shaw', 'S Dhawan', 'SS Iyer', 'RR Pant', ...","['PA Patel', 'V Kohli', 'AB de Villiers', 'S D...",BNJ Oxenford,KN Ananthapadmanabhan,"['PP Shaw', 'S Dhawan', 'SS Iyer', 'RR Pant', ...",True